

body{
    background-image:;
}


p{
    font-family: Arial;
    font-size: 30px;
    
}

h3{
    font-family: Arial;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    margin-top: 0;
}

.head-one{
font-family: Arial;
font-size: 30px;
color: rgb(24, 24, 201);
margin-bottom: 0;
padding-right: 7px;
padding-bottom: 0px;
padding-top: 5px;

}